
<% for review in @reviews %>
  <%= link_to review.title, review_path(review) %>
  <br>
<% end %>
<br>
<%= link_to 'New Review', new_review_path %>

<%= link_to 'Sort By Alphabetical', :sort => "lower(title)" %>
<%= link_to 'Sort By Date Added', :sort => "(created_at)" %>


<h1>Featured Work</h1>
<%= link_to @feature.title, review_path(@feature) %>
