<legend><h1><%= @review.title %></h1></legend>

<p>
  <div class="review-content">
    <%= @review.content %>
  </div>
  <h4>Genre</h4>
  <%= @review.genre %>
  <hr>
  <strong><p>This Review's Average Rating:</p></strong>
  <%= @review.average_rating %>
</p>
<br>
<h3>Comments:</h3>
<% @comments.each do |comment| %>
  <%= comment.content %>
  <%= link_to 'Delete Comment', review_comment_path(@review, comment),
                                :data => {:confirm => "you sure?"},
                                :method => "delete" %>
  <br>
<% end %>
<br><br>
<%= link_to 'Add comment', new_review_comment_path(@review) %><br>
<%= link_to 'Add Rating', new_review_rating_path(@review) %><br>
<%= link_to 'Delete Review', review_path(@review),
                              :data => {:confirm => "you sure?"},
                              :method => "delete" %><br>
<%= link_to 'Edit Review', edit_review_path(@review) %><br><br>
<%= link_to 'All Reviews', reviews_path %>
